/* Add CSS to this file as requested: you can delete this comment. */
html{
    font-size: 17px;
    margin:0;
    padding:0;
}

body{
    font-family: 'Commissioner', sans-serif;
    background-color: #eff0f1;
    color:#005;
    font-size: 1.05rem;
    line-height: 22px;
    margin: 0 auto;
    max-width:550px;
}

h1, h2, h3{
    text-transform: uppercase;
}

a:link, a:hover, a:visited, a:active{
    color: #005;
}

figcaption{
    font-size: small;
}


.main-navigation{
    list-style-type: none;
    padding:0;
    margin:0;
}

.main-navigation li{
    display: inline-block;
    padding: 0 8px;
}
.main-navigation li:last-child{
    border-left: 1px solid rgb(27, 27, 75);
}

.main-navigation li a{
    text-decoration: none;
}

figure{
    margin-left:0;
    margin-right: 0;
    max-width: 100%;

}

img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

ul{
    width:40%;
    margin:20px auto;
}

table{
    border-collapse:collapse;
    margin:0 auto;
}

th{
    text-align:left;
    padding:0.5rem;
}

table td{
    border-top:1px solid #4f4f4f;
    padding: 0.5rem;
}

@media screen and (min-width:510px){
    .main-navigation{
        position: absolute;
        top: 25px;
        right: 50px;
    }
}
