html{
    font-size: 10px;
    margin: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #cacaca;
    color:#363535;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 900px;
}

h1,h2 {
    margin: 0 auto;
}

h1{
    text-align: center;
    background-color: blue;
    color: red;
}

.page-footer{
    background-color: black;
    color: yellow;
}

a:link, a:visited, a:hover{
    background-color: black;
    color: yellow;
}

figure{
    margin:0 25px 25px 0;
}

.menu li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.columns{
    column-gap: 36px;
    column-count: 3;
}

.columns p{
    margin: 0;
}
