html {
    font-size: 10px;
  }
  h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2A2C3A;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}
a:link {
    color: #214601;
  }
  .address{
      font-style: italic;
      font-family: 'fantasy';
      font-size: 1.8rem;
      color: #2a2c3a;
      font-weight: 900;
  }