/* TEMPLATE STYLESHEET */


/* These are some suggested groupings for your stylesheet... */

html{
    font-size: 10px;
}

/* Default styling styling for the body.*/

body {
    font-family: 'Noto Sans', helvetica, sans-serif;
    /* update with Google font, web safe font and generic fallback */
    font-size: 1.5rem;
    /* the default browser font size is 16px */
    line-height: 1.6;
    /* update to suit your type choices */
    color: #FFFDFD;
    /* base text colour - update to suit your design */
    background-color: #0B3C49;
    padding:0;
    margin:0;
}

/* Improves default font styles for forms  */

input,
textarea {
    font-family: sans-serif; /* update with Google font, web safe font and generic fallback */
}

/* box sizing */

* {
    box-sizing:border-box;
}

/* flexible content images code */

img {
    max-width: 100%;
    height: auto;
  }

/* element styling (e.g. standard p, h1, h2, a, etc) */

h1,
h2 {
    font-weight: bold;
    letter-spacing: 0.3rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 4px 10px;
}

h2 {
    font-size: 2.2rem;
    margin: 0;
    padding: 4px 17px;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 4px 25px;
}

/* navigation (using flexbox) */
    .page-nav{
        background-color: #731963;
        position:sticky;
        top:0;
        width:100%;
    }
    .page-nav ul{
        display:flex;
        text-align: center;
        margin:0;
    }

    .page-nav ul li{
        list-style-type: none;
        padding:10px;
    }

    .page-nav ul li a:hover, .page-nav ul li a:visited, .page-nav ul li a:active, .page-nav ul li a:link{
        text-decoration: none;
        color: #CBD2D0;
    }

/* page header */

.header-content{
    height: 300px;
    background-image: url("../img/Optimised-Italy-Width.jpg");
    font-size: 1.8rem;
    color: #0B3C49;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.header-content p, .header-content h1{
    padding:0 35px;
    line-height: 1.5;
}

/* main layout */


/* styling for the section content */



/* background colours for sections */

.your-topic{
    background-color: #731963;
}

/* image gallery media queries and size overrides */


/* form styling */


/* footer */